@import "1px";
*{
  box-sizing: border-box;
}
body{
  font-size: 16px;
  background: #fff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  #loading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    img{
      transform: translateY(-220px);
      width: 104px;
      height: 122px;
    }
  }
}

